.earth {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  animation: move-planet 2s forwards;
}

.earth-circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #469fff 30%,
    #367e9a 50%,
    #2c495d 70%
  );
  cursor: pointer;
  transition: transform 0.2s;
}

.earth-circle:hover {
  transform: scale(1.3);
}

.mars {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  opacity: 0;
  animation: zoom-in 2s forwards;
}

.mars-circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #ff4646 30%,
    #9a3636 50%,
    #3b1c1c 70%
  );
  transition: transform 0.2s;
}

.earth-circle:hover {
  transform: scale(1.3);
}


