.sun {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 800px;
    height: 800px;
    background-color: #ff9900;
    border-radius: 50%;
    animation: flicker 2s infinite;
}

.mercury {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

.mercury-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #ededed 40%, #dcdcdc 50%, #9b9b9b 60%);
    cursor: pointer;
    transition: transform 0.2s;
}
  
.mercury-circle:hover {
    transform: scale(1.3);
}


