body {
    height: 100vh;
    margin: 0;
    background-color: #000;
  }

.star {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    animation: twinkle 1s infinite;
}

.star:nth-child(1) {
    top: 20%;
    right: 30%;
}

.star:nth-child(2) {
    top: 40%;
    left: 60%;
}

.star:nth-child(3) {
    top: 10%;
    left: 20%;
}

.star:nth-child(4) {
    top: 80%;
    right: 5%;
}

.star:nth-child(5) {
    top: 85%;
    left: 10%;
}

.star:nth-child(6) {
    top: 90%;
    right: 10%;
}

.planet-name {
    color: #fff;
    font-size: 12px;
}

@keyframes zoom-in {
    0% {
      transform: translateY(-50%) scale(0);
      opacity: 0;
    }
    100% {
      transform: translateY(-50%) scale(1);
      opacity: 1;
    }
  }

@keyframes flicker {
    0% {
        transform: translateY(-50%) scale(1);
    }
    50% {
        transform: translateY(-50%) scale(1.01);
    }
    100% {
        transform: translateY(-50%) scale(1);
    }
}

@keyframes twinkle {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}


@keyframes move-planet {
    0% {
      right: 10%;
    }
    100% {
      right: 90%;
    }
}