body {
  height: 100vh;
  margin: 0;
  background-color: #000;
}

.star {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  animation: twinkle 1s infinite;
}

.star:nth-child(1) {
  top: 20%;
  right: 30%;
}

.star:nth-child(2) {
  top: 40%;
  left: 60%;
}

.star:nth-child(3) {
  top: 10%;
  left: 20%;
}

.star:nth-child(4) {
  top: 80%;
  right: 5%;
}

.star:nth-child(5) {
  top: 85%;
  left: 10%;
}

.star:nth-child(6) {
  top: 90%;
  right: 10%;
}

/* Styling the planet name */
.planet-name {
  position: relative;
  text-align: center;
  font-size: 18px;
  color: #fff;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}

/* Modal hidden by default */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Show modal when targeted */
:target.modal {
  display: block;
}

/* Modal content styling */
.modal-content {
  margin: 15% auto;
  padding: 20px;
  width: 40%;
  text-align: center;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(255, 59, 59, 0.3);
}

.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
}

@keyframes zoom-in {
  0% {
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
}

@keyframes flicker {
  0% {
    transform: translateY(-50%) scale(1);
  }
  50% {
    transform: translateY(-50%) scale(1.01);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-planet {
  0% {
    right: 10%;
  }
  100% {
    right: 90%;
  }
}
